.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #43C6AC, #191654);
    z-index: -1;
    margin-bottom: 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #551A8B !important;
    text-decoration: none;
    margin-right: 20px !important;
}

.contact{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-right: 20px !important;
}

.plan{
  font-size: 20px;
  color: #551A8B !important;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px !important;
  list-style-type: none !important;
}

.cms{
  font-size: 20px;
  color: #551A8B !important;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px !important;
  list-style-type: none !important;
}

.cms:hover{
  color: white !important;
  opacity: 0.8;
}

.plan:hover{
  color: white !important;
  opacity: 0.8;
}

.contact-link:hover{
  color: white !important;
  opacity: 0.8;
}

.about-link:hover{
  color: white !important;
  opacity: 0.8;
}

.headline{
  position: absolute;
  top: 23%;
  left: 05%;
  font-size: 45px;
  transform: translate(-20%, -70%);
  color: #009779;
  z-index: 3;
}

.quote{
  position: absolute;
  top: 23%;
  left: 05%;
  font-size: 25px;
  transform: translate(-20%, -70%);
  color: #009779;
  z-index: 3;
}

.contact-button{
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  transform: translate(-20%, -70%);
  color: #551A8B;
  z-index: 3;
  border: solid 2px #009779;
  background: #009779;
  padding: 5px;
  border-radius: 7px;
}

.contact-button:hover{
  color: white;
  opacity: 0.7;
}

.model{
  overflow: hidden !important;
  align-self: center;
  justify-self: center;
  position: absolute;
  left: 100px;
  display: flex;
}

.model img{
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.model-right{
  transform: translate(0%, 0%);
}

.model-left{
  transform: translate(0%, 0%);
}

.model:hover .model-right{
  transform: translate(0%, 10%);
}

.model:hover .model-left{
  transform: translate(0%, -10%);
}

.about-info{
  grid-column: 3/4;
  position: absolute;
  right: 400px;
  bottom: -203px;
}

.title{
  margin-top: 20px;
}
